.container
  / More Content / Start
  #more-content
    %article.hentry.post
      %h1.page-title Contact
      .entry-content
        %p Maecenas dolor est, interdum a euismod eu, accumsan posuere nisl. Nam sed iaculis massa. Sed nisl lectus, tempor sed euismod quis, sollicitudin nec est. Suspendisse dignissim bibendum tempor. Nam erat felis, commodo sed semper commodo vel mauris suspendisse dignissim bibendum tempus.
        %form#contact-form
          %p
            %label{:for => "contact-name"}
              Your Name
              %span.required *
            %input#contact-name{:type => "text"}/
          %p
            %label{:for => "contact-email"}
              Your Email
              %span.required *
            %input#contact-email{:type => "email"}/
          %p
            %label{:for => "contact-subject"} Email Subject
            %input#contact-subject{:type => "text"}/
          %p
            %label{:for => "contact-content"}
              Your Message
              %span.required *
            %textarea#contact-content{:cols => "40", :rows => "10"}
          %p
            %button.btn Send Email
          %p
            %span.required *
            fields are marked as required.
      / .entry-content
  / More Content / End
