.container
  / More Content / Start
  #more-content.one-column
    %article.hentry.post
      %h1.page-title About Us
      .entry-content
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        %blockquote Mauris aliquet ultricies ante, non faucibus ante gravida sed. Sed ultrices pellentesque purus, vulputate volutpat ipsum hendrerit sed neque sed sapien rutrum laoreet justo ultrices. In pellentesque lorem condimentum dui morbi pulvinar dui non quam pretium ut lacinia tortor.
        %p In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida. Cras suscipit, quam vitae adipiscing faucibus, risus nibh laoreet odio, a porttitor metus eros ut enim. Morbi augue velit, tempus mattis dignissim nec, porta sed risus. Donec eget magna eu lorem tristique pellentesque eget eu dui. Fusce lacinia tempor malesuada. Ut lacus sapien, placerat a ornare nec, elementum sit amet felis. Maecenas pretium hendrerit fermentum.
        %h3 Meet Our Team
        .team-members
          %ul.members
            %li.member
              .member-photo
                %img{:alt => "Jake Davis", :src => "/assets/jake_davis-100-100.jpg"}
                  %ul.member-social.clearfix
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-twitter
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-facebook
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-google-plus
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-linkedin
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-pinterest
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-dribbble
              .member-content
                %h3.member-name Jake Davis
                %p.member-position Founder/Partner
                .member-desc
                  %p Curabitur suscipit sapien sagittis lacus commodo, nec suscipit mi porttitor. Mauris consectetur tellus in ligula auctor tempor. Integer ac tincidunt tortor. Cras eget lorem id lacus bibendum vestibulum in sed orci.
            %li.member
              .member-photo
                %img{:alt => "Scott Davis", :src => "/assets/ScottDavis-100-100.jpg"}
                  %ul.member-social.clearfix
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-twitter
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-facebook
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-google-plus
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-linkedin
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-pinterest
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-dribbble
              .member-content
                %h3.member-name Scott Davis
                %p.member-position Founder/Partner
                .member-desc
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum aliquam elit, vitae rhoncus nisi pharetra id. Curabitur a felis justo. Nunc odio est, mollis quis pharetra at, tempor nec urna.
            %li.member
              .member-photo
                %img{:alt => "Phil Zelinger", :src => "/assets/phil_zelinger-100-100.jpg"}
                  %ul.member-social.clearfix
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-twitter
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-facebook
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-google-plus
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-linkedin
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-pinterest
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-dribbble
              .member-content
                %h3.member-name Phillip Zelinger
                %p.member-position Founder/Partner
                .member-desc
                  %p Nullam ut neque id augue pellentesque iaculis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce ut odio vel massa ullamcorper vulputate eget in risus.

      / .entry-content
  / More Content / End
  .clearfix
