.container.clearfix
  #more-content.content-loop
    %h3.section-title
      More News
      %span.see-all
        %a{:href => "archive.html"}
          See All
          %i.fa.fa-angle-right
    %ul
      %li.clearfix
        %article.hentry.post.clearfix
          %a{:href => "single_post.html", :rel => "bookmark"}
            %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
          .entry-meta
            %span.entry-category
              %a{:href => "archive.html"} Category 1
            %span.entry-date Jun. 13, 2014
          %h2.entry-title
            %a{:href => "single_post.html", :rel => "bookmark"}
              Vestibulum Quam Neque Pretium Eu Consectetur Quis Iaculis
              %i.fa.fa-youtube-play
          .byline
            %span.entry-view 59 Views
            %span.entry-comment
              %a{:href => "single_post.html#comments"} 16
            %span.entry-author
              by
              %a{:href => "archive.html"} Simon
          .entry-share-icons
            %a{:href => "#", :title => "Twitter"}
              %i.fa.fa-twitter
            %a{:href => "#", :title => "Facebook"}
              %i.fa.fa-facebook
            %a{:href => "#", :title => "GooglePlus"}
              %i.fa.fa-google-plus
            %a{:href => "#", :title => "Pinterest"}
              %i.fa.fa-pinterest
            %a{:href => "#", :title => "LinkedIn"}
              %i.fa.fa-linkedin
      %li.clearfix
        %article.hentry.post.clearfix
          %a{:href => "single_post.html", :rel => "bookmark"}
            %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
          .entry-meta
            %span.entry-category
              %a{:href => "archive.html"} Category 2
            %span.entry-date Jun. 12, 2014
          %h2.entry-title
            %a{:href => "single_post.html", :rel => "bookmark"} Risus Nibh Laoreet Odio A Porttitor Metus Eros Ut Enim Morbi Augue
          .byline
            %span.entry-view 70 Views
            %span.entry-comment
              %a{:href => "single_post.html#comments"} 4
            %span.entry-author
              by
              %a{:href => "archive.html"} Roy Guan
          .entry-share-icons
            %a{:href => "#", :title => "Twitter"}
              %i.fa.fa-twitter
            %a{:href => "#", :title => "Facebook"}
              %i.fa.fa-facebook
            %a{:href => "#", :title => "GooglePlus"}
              %i.fa.fa-google-plus
            %a{:href => "#", :title => "Pinterest"}
              %i.fa.fa-pinterest
            %a{:href => "#", :title => "LinkedIn"}
              %i.fa.fa-linkedin
      %li.clearfix
        %article.hentry.post.clearfix
          %a{:href => "single_post.html", :rel => "bookmark"}
            %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
          .entry-meta
            %span.entry-category
              %a{:href => "archive.html"} Category 3
            %span.entry-date Jun. 11, 2014
          %h2.entry-title
            %a{:href => "single_post.html", :rel => "bookmark"}
              Ipsum Hendrerit Sed Neque Sed Sapien Rutrum Laoreet
              %i.fa.fa-youtube-play
          .byline
            %span.entry-view 32 Views
            %span.entry-comment
              %a{:href => "single_post.html#comments"} 9
            %span.entry-author
              by
              %a{:href => "archive.html"} Abdus Salam
          .entry-share-icons
            %a{:href => "#", :title => "Twitter"}
              %i.fa.fa-twitter
            %a{:href => "#", :title => "Facebook"}
              %i.fa.fa-facebook
            %a{:href => "#", :title => "GooglePlus"}
              %i.fa.fa-google-plus
            %a{:href => "#", :title => "Pinterest"}
              %i.fa.fa-pinterest
            %a{:href => "#", :title => "LinkedIn"}
              %i.fa.fa-linkedin