.container.clearfix
  .content-loop
    %h3.section-title
      Your Hosts

    %ul
      %li.clearfix
        %article.hentry.post.clearfix
          %a{:href => "", :rel => "bookmark"}
            = image_tag "jake_davis.jpg", :class => 'entry-thumbnail'
          .entry-meta
            %p
              My Bio

          .byline

            %span.entry-author
              Jake Davis
          .entry-share-icons
            %a{:href => "#", :title => "Twitter"}
              %i.fa.fa-twitter
            %a{:href => "#", :title => "Facebook"}
              %i.fa.fa-facebook
            %a{:href => "#", :title => "GooglePlus"}
              %i.fa.fa-google-plus
            %a{:href => "#", :title => "Pinterest"}
              %i.fa.fa-pinterest
            %a{:href => "#", :title => "LinkedIn"}
              %i.fa.fa-linkedin

      %li.clearfix
        %article.hentry.post.clearfix
          %a{:href => "", :rel => "bookmark"}
            = image_tag "ScottDavis.jpg", :class => 'entry-thumbnail'
          .entry-meta
            %p
              My Bio

          .byline

            %span.entry-author
              Scott Davis
          .entry-share-icons
            %a{:href => "#", :title => "Twitter"}
              %i.fa.fa-twitter
            %a{:href => "#", :title => "Facebook"}
              %i.fa.fa-facebook
            %a{:href => "#", :title => "GooglePlus"}
              %i.fa.fa-google-plus
            %a{:href => "#", :title => "Pinterest"}
              %i.fa.fa-pinterest
            %a{:href => "#", :title => "LinkedIn"}
              %i.fa.fa-linkedin

      %li.clearfix
        %article.hentry.post.clearfix
          %a{:href => "", :rel => "bookmark"}
            = image_tag "phil_zelinger-big.jpg", :class => 'entry-thumbnail'
          .entry-meta
            %p
              Philip Zelinger is the President of Ad Agency Online, L.L.C., the founder of a networking portal - AdAgencyOnline.Net, and a Partner in ProblemSolutionHQ.  

            %p 
              He invested 25 years as a General Manager and Dealer Principal in the Auto Industry followed by a career in advertising.  He proudly claims to have learned from the teams he built so he can presume to teach and contribute to the next generation of entrepreneurs.

            %p
              He currently hosts a blog talk radio station – WAAOL, All Advertising News All The Time.

            %p

              As the author of two books - “How To Buy A Car” and “How To Sell A Car – a Career Guide to The Automobile Industry” - he is a recognized authority on market trends and developing technologies.

            %p
              Philip is focused on forming strategic partnerships for his vendor clients to leverage their shared resources to mature their solutions and bring their products and services to market.

            %p
              “I am a "Car Guy" who moved from retail into advertising, marketing and public relations.  I developed an internet based operating system for full service automotive advertising agencies - Ad Agency Online, L.L.C. - in December of 2001.  I currently consult for advertising agencies, auto dealers and vendor clients.  I also consult for a commercial real estate firm with a specialized division focused on the auto industry.

            %p							 
              As a "teacher" or "dealer coach" I pride myself in learning new things for my clients and then applying them to add to their list of "best practices."  To that end, I host a FREE auto industry resource portal - AdAgencyOnline.Net - to platform cutting edge technologies, internet applications and integrated sales processes.  I have earned a reputation as an expert on the automotive industry willing to share my success - and admit my failures - to insure that we all grow in the process.”

          .byline

            %span.entry-author
              Philip Zelinger
          .entry-share-icons
            %a{:href => "#", :title => "Twitter"}
              %i.fa.fa-twitter
            %a{:href => "#", :title => "Facebook"}
              %i.fa.fa-facebook
            %a{:href => "#", :title => "GooglePlus"}
              %i.fa.fa-google-plus
            %a{:href => "#", :title => "Pinterest"}
              %i.fa.fa-pinterest
            %a{:href => "#", :title => "LinkedIn"}
              %i.fa.fa-linkedin
