.container.clearfix
  .content-loop
    %h3.section-title
      Your Hosts

    %ul
      %li.clearfix
        %article.hentry.post.clearfix
          %a{:href => "", :rel => "bookmark"}
            = image_tag "jake_davis.jpg", :class => 'entry-thumbnail'
          .entry-meta
            %p
              My Bio

          .byline

            %span.entry-author
              Jake Davis
          .entry-share-icons
            %a{:href => "#", :title => "Twitter"}
              %i.fa.fa-twitter
            %a{:href => "#", :title => "Facebook"}
              %i.fa.fa-facebook
            %a{:href => "#", :title => "GooglePlus"}
              %i.fa.fa-google-plus
            %a{:href => "#", :title => "Pinterest"}
              %i.fa.fa-pinterest
            %a{:href => "#", :title => "LinkedIn"}
              %i.fa.fa-linkedin

      %li.clearfix
        %article.hentry.post.clearfix
          %a{:href => "", :rel => "bookmark"}
            = image_tag "ScottDavis.jpg", :class => 'entry-thumbnail'
          .entry-meta
            %p
              Scott J Davis, Founding Partner of Problem Solution, HQ, LLC, (PSHQ)

            %p
              According to Scott his true claim to fame is his family including his wife Wendy and four children Sam, Jake, Sadie and the youngest Justin.  He proudly adds that his oldest sons, Sam and Jacob, have joined him as partners in PSHQ while completing their College educations.

            %p
              Scott graduated from the University of Iowa in 1990 with a BS in Marketing.  Immediately after graduation he took a position with Phillips Petroleum as the Territory Manager of 6 stores in the Chicago area from 1990 to 1992.

            %p
              He left Phillips Petroleum to fulfill his entrepreneurial spirit as a franchise partner with Pizza Ranch in November 1992 when he opened his first restaurant in Decorah, Iowa. He continued a successful ongoing relationship with Pizza Ranch as an owner/operator opening 14 total restaurants over the past 21 years.

            %p
              Scott currently operates 6 Pizza Ranch restaurants in Cedar Falls, Clarion, Eldora, Marshalltown Waverly with his latest addition opening in Ft Dodge in September.  He proudly adds that his managers have worked for him an average of 12 years; and counting!

            %p
              Scott has shared his success at Pizza Ranch with family and loyal employees.  He sold 2 stores to his brother Brad Davis - Monticello and Oelwein – and 2 stores to managers in Decorah and Iowa Falls as well as 2 to outside parties in Charles City and Conrad.  His Parkersburg restaurant was destroyed by a tornado on May 25th, 2008; through no fault of his own he jokes.

            %p
              Scott explained his philosophy in operating his Pizza Ranch Restaurants, “Our main focus in our stores is on the community.  The Pizza Ranch does national advertising/branding.  Our focus is 100% on our local community.  We mail to our customers every month a relevant offer based on past purchase history and do local store marketing in our community.  Our Cedar Falls store donated over $20,000 last year to local groups.  We have a strong focus on our schools and I plan to continue this with my new Moes restaurants launching in 2015 including one at 53rd St in Davenport Iowa.

            %p
              Scott is also the founding partner of DrivingLoyalty.com, This is a digital marketing company that mainly does marketing to customers on behalf of automotive dealers.  Driving Loyalty was originally started to do the local store marketing for his Pizza Ranch restaurants, however, they eventually worked for the entire chain.

            %p
              Scott’s duties include—School marketing, fundraising, kids club, cross-marketing and database marketing.  The 2014 revenue for Driving Loyalty was $6,250,000 with 2015 profits on track to exceed that achievement.

          .byline

            %span.entry-author
              Scott Davis
          .entry-share-icons
            %a{:href => "#", :title => "Twitter"}
              %i.fa.fa-twitter
            %a{:href => "#", :title => "Facebook"}
              %i.fa.fa-facebook
            %a{:href => "#", :title => "GooglePlus"}
              %i.fa.fa-google-plus
            %a{:href => "#", :title => "Pinterest"}
              %i.fa.fa-pinterest
            %a{:href => "#", :title => "LinkedIn"}
              %i.fa.fa-linkedin

      %li.clearfix
        %article.hentry.post.clearfix
          %a{:href => "", :rel => "bookmark"}
            = image_tag "phil_zelinger-big.jpg", :class => 'entry-thumbnail'
          .entry-meta
            %p
              Philip Zelinger is the President of Ad Agency Online, L.L.C., the founder of a networking portal - AdAgencyOnline.Net, and a Partner in ProblemSolutionHQ.  

            %p 
              He invested 25 years as a General Manager and Dealer Principal in the Auto Industry followed by a career in advertising.  He proudly claims to have learned from the teams he built so he can presume to teach and contribute to the next generation of entrepreneurs.

            %p
              He currently hosts a blog talk radio station – WAAOL, All Advertising News All The Time.

            %p

              As the author of two books - “How To Buy A Car” and “How To Sell A Car – a Career Guide to The Automobile Industry” - he is a recognized authority on market trends and developing technologies.

            %p
              Philip is focused on forming strategic partnerships for his vendor clients to leverage their shared resources to mature their solutions and bring their products and services to market.

            %p
              “I am a "Car Guy" who moved from retail into advertising, marketing and public relations.  I developed an internet based operating system for full service automotive advertising agencies - Ad Agency Online, L.L.C. - in December of 2001.  I currently consult for advertising agencies, auto dealers and vendor clients.  I also consult for a commercial real estate firm with a specialized division focused on the auto industry.

            %p							 
              As a "teacher" or "dealer coach" I pride myself in learning new things for my clients and then applying them to add to their list of "best practices."  To that end, I host a FREE auto industry resource portal - AdAgencyOnline.Net - to platform cutting edge technologies, internet applications and integrated sales processes.  I have earned a reputation as an expert on the automotive industry willing to share my success - and admit my failures - to insure that we all grow in the process.”

          .byline

            %span.entry-author
              Philip Zelinger
          .entry-share-icons
            %a{:href => "#", :title => "Twitter"}
              %i.fa.fa-twitter
            %a{:href => "#", :title => "Facebook"}
              %i.fa.fa-facebook
            %a{:href => "#", :title => "GooglePlus"}
              %i.fa.fa-google-plus
            %a{:href => "#", :title => "Pinterest"}
              %i.fa.fa-pinterest
            %a{:href => "#", :title => "LinkedIn"}
              %i.fa.fa-linkedin
