%h4 Here it is
%div{'ng-bind-html' => 'greeting'}

#primary.content-area
  / Featured Content / Start
  #featured-content.clearfix
    .container
      #carousel-0.jcarousel
        %ul
          %li
            %article.hentry.clearfix
              %a{:href => "single_post.html"}
                %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
              .entry-meta
                %span.entry-category
                  %a{:href => "archive.html"} Category 1
                %span.entry-date Jun. 29, 2014
              %h2.entry-title
                %a{:href => "single_post.html", :rel => "bookmark"} Lorem Ipsum Dolor Sit Consectetur Adipisicing
              .byline
                %span.entry-view 123 Views
                %span.entry-comment
                  %a{:href => "single_post.html#comments"} 8
                %span.entry-author
                  by
                  %a{:href => "archive.html"} John Doe
              .entry-summary
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
              .entry-share-icons
                %a{:href => "#", :title => "Twitter"}
                  %i.fa.fa-twitter
                %a{:href => "#", :title => "Facebook"}
                  %i.fa.fa-facebook
                %a{:href => "#", :title => "GooglePlus"}
                  %i.fa.fa-google-plus
                %a{:href => "#", :title => "Pinterest"}
                  %i.fa.fa-pinterest
                %a{:href => "#", :title => "LinkedIn"}
                  %i.fa.fa-linkedin
          %li
            %article.hentry.clearfix
              %a{:href => "single_post.html"}
                %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
              .entry-meta
                %span.entry-category
                  %a{:href => "archive.html"} Category 2
                %span.entry-date Jun. 28, 2014
              %h2.entry-title
                %a{:href => "single_post.html", :rel => "bookmark"} Ut Enim ad Minim Veniam Nostrud Exercitation
              .byline
                %span.entry-view 91 Views
                %span.entry-comment
                  %a{:href => "single_post.html#comments"} 12
                %span.entry-author
                  by
                  %a{:href => "archive.html"} Matt
              .entry-summary
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
              .entry-share-icons
                %a{:href => "#", :title => "Twitter"}
                  %i.fa.fa-twitter
                %a{:href => "#", :title => "Facebook"}
                  %i.fa.fa-facebook
                %a{:href => "#", :title => "GooglePlus"}
                  %i.fa.fa-google-plus
                %a{:href => "#", :title => "Pinterest"}
                  %i.fa.fa-pinterest
                %a{:href => "#", :title => "LinkedIn"}
                  %i.fa.fa-linkedin
          %li
            %article.hentry.clearfix
              %a{:href => "single_post.html"}
                %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
              .entry-meta
                %span.entry-category
                  %a{:href => "archive.html"} Category 3
                %span.entry-date Jun. 27, 2014
              %h2.entry-title
                %a{:href => "single_post.html", :rel => "bookmark"} Sed Do Eiusmod Tempor Incididunt ut Labore et Dolore
              .byline
                %span.entry-view 90 Views
                %span.entry-comment
                  %a{:href => "single_post.html#comments"} 7
                %span.entry-author
                  by
                  %a{:href => "archive.html"} Michael
              .entry-summary
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
              .entry-share-icons
                %a{:href => "#", :title => "Twitter"}
                  %i.fa.fa-twitter
                %a{:href => "#", :title => "Facebook"}
                  %i.fa.fa-facebook
                %a{:href => "#", :title => "GooglePlus"}
                  %i.fa.fa-google-plus
                %a{:href => "#", :title => "Pinterest"}
                  %i.fa.fa-pinterest
                %a{:href => "#", :title => "LinkedIn"}
                  %i.fa.fa-linkedin
      / #carousel-0
      %p.jcarousel-pagination
      %a.jcarousel-control-prev{:href => "#"}
        %i.fa.fa-chevron-left
      %a.jcarousel-control-next{:href => "#"}
        %i.fa.fa-chevron-right
    / .container
  / Featured Content / End
  / Recent Content / Start
  #recent-content.container.clearfix
    %h3.section-title
      Latest News
      %span.see-all
        %a{:href => "archive.html"}
          See All
          %i.fa.fa-angle-right
    %article.hentry
      %a{:href => "single_post.html"}
        %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
      .entry-meta
        %span.entry-category
          %a{:href => "archive.html"} Category 1
        %span.entry-date Jun. 26, 2014
      %h2.entry-title
        %a{:href => "single_post.html", :rel => "bookmark"} Donec Varius Condimentum Auguenec Mollis Risus
      .byline
        %span.entry-view 89 Views
        %span.entry-comment
          %a{:href => "single_post.html#comments"} 14
        %span.entry-author
          by
          %a{:href => "archive.html"} John Doe
      .entry-summary
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam scelerisque gravida diam eget placerat. Maecenas varius rhoncus auctor.
      .entry-share-icons
        %a{:href => "#", :title => "Twitter"}
          %i.fa.fa-twitter
        %a{:href => "#", :title => "Facebook"}
          %i.fa.fa-facebook
        %a{:href => "#", :title => "GooglePlus"}
          %i.fa.fa-google-plus
        %a{:href => "#", :title => "Pinterest"}
          %i.fa.fa-pinterest
        %a{:href => "#", :title => "LinkedIn"}
          %i.fa.fa-linkedin
    %article.hentry
      %a{:href => "single_post.html"}
        %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
      .entry-meta
        %span.entry-category
          %a{:href => "archive.html"} Category 2
        %span.entry-date Jun. 25, 2014
      %h2.entry-title
        %a{:href => "single_post.html", :rel => "bookmark"}
          Etiam Elit Est Tincidunt Non Tincidunt Sit (video)
          %i.fa.fa-youtube-play
      .byline
        %span.entry-view 123 Views
        %span.entry-comment
          %a{:href => "single_post.html#comments"} 9
        %span.entry-author
          by
          %a{:href => "archive.html"} John Doe
      .entry-summary
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam scelerisque gravida diam eget placerat. Maecenas varius rhoncus auctor.
      .entry-share-icons
        %a{:href => "#", :title => "Twitter"}
          %i.fa.fa-twitter
        %a{:href => "#", :title => "Facebook"}
          %i.fa.fa-facebook
        %a{:href => "#", :title => "GooglePlus"}
          %i.fa.fa-google-plus
        %a{:href => "#", :title => "Pinterest"}
          %i.fa.fa-pinterest
        %a{:href => "#", :title => "LinkedIn"}
          %i.fa.fa-linkedin
    %article.hentry.last-post
      %a{:href => "single_post.html"}
        %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
      .entry-meta
        %span.entry-category
          %a{:href => "archive.html"} Category 3
        %span.entry-date Jun. 24, 2014
      %h2.entry-title
        %a{:href => "single_post.html", :rel => "bookmark"}
          Suspendisse Sit Amet Turpis Quam Sed Varius
          %i.fa.fa-youtube-play
      .byline
        %span.entry-view 72 Views
        %span.entry-comment
          %a{:href => "single_post.html#comments"} 23
        %span.entry-author
          by
          %a{:href => "archive.html"} Michael
      .entry-summary
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam scelerisque gravida diam eget placerat. Maecenas varius rhoncus auctor.
      .entry-share-icons
        %a{:href => "#", :title => "Twitter"}
          %i.fa.fa-twitter
        %a{:href => "#", :title => "Facebook"}
          %i.fa.fa-facebook
        %a{:href => "#", :title => "GooglePlus"}
          %i.fa.fa-google-plus
        %a{:href => "#", :title => "Pinterest"}
          %i.fa.fa-pinterest
        %a{:href => "#", :title => "LinkedIn"}
          %i.fa.fa-linkedin
    / Add clearfix per line (3 posts)
    .clearfix
    %article.hentry
      %a{:href => "single_post.html"}
        %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
      .entry-meta
        %span.entry-category
          %a{:href => "archive.html"} Category 4
        %span.entry-date Jun. 23, 2014
      %h2.entry-title
        %a{:href => "single_post.html", :rel => "bookmark"} Vivamus Ac Dapibus Nisl Proin In Tellus Non Velit
      .byline
        %span.entry-view 99 Views
        %span.entry-comment
          %a{:href => "single_post.html#comments"} 3
        %span.entry-author
          by
          %a{:href => "archive.html"} Matt
      .entry-summary
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam scelerisque gravida diam eget placerat. Maecenas varius rhoncus auctor.
      .entry-share-icons
        %a{:href => "#", :title => "Twitter"}
          %i.fa.fa-twitter
        %a{:href => "#", :title => "Facebook"}
          %i.fa.fa-facebook
        %a{:href => "#", :title => "GooglePlus"}
          %i.fa.fa-google-plus
        %a{:href => "#", :title => "Pinterest"}
          %i.fa.fa-pinterest
        %a{:href => "#", :title => "LinkedIn"}
          %i.fa.fa-linkedin
    %article.hentry
      %a{:href => "single_post.html"}
        %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
      .entry-meta
        %span.entry-category
          %a{:href => "archive.html"} Category 3
        %span.entry-date Jun. 21, 2014
      %h2.entry-title
        %a{:href => "single_post.html", :rel => "bookmark"}
          Cras Augue Ante Tincidunt Consequat Ultricies
          %i.fa.fa-youtube-play
      .byline
        %span.entry-view 82 Views
        %span.entry-comment
          %a{:href => "single_post.html#comments"} 13
        %span.entry-author
          by
          %a{:href => "archive.html"} Shery
      .entry-summary
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam scelerisque gravida diam eget placerat. Maecenas varius rhoncus auctor.
      .entry-share-icons
        %a{:href => "#", :title => "Twitter"}
          %i.fa.fa-twitter
        %a{:href => "#", :title => "Facebook"}
          %i.fa.fa-facebook
        %a{:href => "#", :title => "GooglePlus"}
          %i.fa.fa-google-plus
        %a{:href => "#", :title => "Pinterest"}
          %i.fa.fa-pinterest
        %a{:href => "#", :title => "LinkedIn"}
          %i.fa.fa-linkedin
    %article.hentry.last-post
      %a{:href => "single_post.html"}
        %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
      .entry-meta
        %span.entry-category
          %a{:href => "archive.html"} Category 2
        %span.entry-date Jun. 20, 2014
      %h2.entry-title
        %a{:href => "single_post.html", :rel => "bookmark"} Vestibulum Quam Neque Pretium Eu Consectetur
      .byline
        %span.entry-view 65 Views
        %span.entry-comment
          %a{:href => "single_post.html#comments"} 21
        %span.entry-author
          by
          %a{:href => "archive.html"} Brad
      .entry-summary
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam scelerisque gravida diam eget placerat. Maecenas varius rhoncus auctor.
      .entry-share-icons
        %a{:href => "#", :title => "Twitter"}
          %i.fa.fa-twitter
        %a{:href => "#", :title => "Facebook"}
          %i.fa.fa-facebook
        %a{:href => "#", :title => "GooglePlus"}
          %i.fa.fa-google-plus
        %a{:href => "#", :title => "Pinterest"}
          %i.fa.fa-pinterest
        %a{:href => "#", :title => "LinkedIn"}
          %i.fa.fa-linkedin
    / Add clearfix per line (3 posts)
    .clearfix
  / Recent Content / End
  / Carousel-1 / Start
  #carousel-1.carousel-loop.clearfix
    .container
      %h3.section-title Editor's Picks
      .jcarousel
        %ul
          %li
            %article.hentry.post
              %a{:href => "single_post.html", :rel => "bookmark"}
                %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
              .entry-meta
                %span.entry-category
                  %a{:href => "archive.html"} Category 1
                %span.entry-date Jun. 19, 2014
              %h2.entry-title
                %a{:href => "single_post.html", :rel => "bookmark"} Nulla Tristique Mi A Massa Convallis Cursus
          %li
            %article.hentry.post
              %a{:href => "single_post.html", :rel => "bookmark"}
                %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
              .entry-meta
                %span.entry-category
                  %a{:href => "archive.html"} Category 2
                %span.entry-date Jun. 18, 2014
              %h2.entry-title
                %a{:href => "single_post.html", :rel => "bookmark"} Etiam Suscipit Commodo Gravida cras Suscipit
          %li
            %article.hentry.post
              %a{:href => "single_post.html", :rel => "bookmark"}
                %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
              .entry-meta
                %span.entry-category
                  %a{:href => "archive.html"} Category 3
                %span.entry-date Jun. 17, 2014
              %h2.entry-title
                %a{:href => "single_post.html", :rel => "bookmark"} Ut Lacus Sapien Placerat A Ornare Nec Elementum
          %li
            %article.hentry.post
              %a{:href => "single_post.html", :rel => "bookmark"}
                %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
              .entry-meta
                %span.entry-category
                  %a{:href => "archive.html"} Category 4
                %span.entry-date Jun. 16, 2014
              %h2.entry-title
                %a{:href => "single_post.html", :rel => "bookmark"} Donec Eget Magna Eu Lorem Tristique Pellentesque
          %li
            %article.hentry.post
              %a{:href => "single_post.html", :rel => "bookmark"}
                %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
              .entry-meta
                %span.entry-category
                  %a{:href => "archive.html"} Category 3
                %span.entry-date Jun. 15, 2014
              %h2.entry-title
                %a{:href => "single_post.html", :rel => "bookmark"} Mauris Aliquet Ultricies Ante Non Faucibus Ante
          %li
            %article.hentry.post
              %a{:href => "single_post.html", :rel => "bookmark"}
                %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
              .entry-meta
                %span.entry-category
                  %a{:href => "archive.html"} Category 2
                %span.entry-date Jun. 14, 2014
              %h2.entry-title
                %a{:href => "single_post.html", :rel => "bookmark"} In Pellentesque Lorem Condimentum Dui Morbi
      / .jcarousel
      %a.jcarousel-control-prev{:href => "#"}
        %i.fa.fa-chevron-left
      %a.jcarousel-control-next{:href => "#"}
        %i.fa.fa-chevron-right
    / .container
  / Carousel-1 / End
  .container
    / More Content / Start
    #more-content.content-loop
      %h3.section-title
        More News
        %span.see-all
          %a{:href => "archive.html"}
            See All
            %i.fa.fa-angle-right
      %ul
        %li.clearfix
          %article.hentry.post.clearfix
            %a{:href => "single_post.html", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
            .entry-meta
              %span.entry-category
                %a{:href => "archive.html"} Category 1
              %span.entry-date Jun. 13, 2014
            %h2.entry-title
              %a{:href => "single_post.html", :rel => "bookmark"}
                Vestibulum Quam Neque Pretium Eu Consectetur Quis Iaculis
                %i.fa.fa-youtube-play
            .byline
              %span.entry-view 59 Views
              %span.entry-comment
                %a{:href => "single_post.html#comments"} 16
              %span.entry-author
                by
                %a{:href => "archive.html"} Simon
            .entry-share-icons
              %a{:href => "#", :title => "Twitter"}
                %i.fa.fa-twitter
              %a{:href => "#", :title => "Facebook"}
                %i.fa.fa-facebook
              %a{:href => "#", :title => "GooglePlus"}
                %i.fa.fa-google-plus
              %a{:href => "#", :title => "Pinterest"}
                %i.fa.fa-pinterest
              %a{:href => "#", :title => "LinkedIn"}
                %i.fa.fa-linkedin
        %li.clearfix
          %article.hentry.post.clearfix
            %a{:href => "single_post.html", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
            .entry-meta
              %span.entry-category
                %a{:href => "archive.html"} Category 2
              %span.entry-date Jun. 12, 2014
            %h2.entry-title
              %a{:href => "single_post.html", :rel => "bookmark"} Risus Nibh Laoreet Odio A Porttitor Metus Eros Ut Enim Morbi Augue
            .byline
              %span.entry-view 70 Views
              %span.entry-comment
                %a{:href => "single_post.html#comments"} 4
              %span.entry-author
                by
                %a{:href => "archive.html"} Roy Guan
            .entry-share-icons
              %a{:href => "#", :title => "Twitter"}
                %i.fa.fa-twitter
              %a{:href => "#", :title => "Facebook"}
                %i.fa.fa-facebook
              %a{:href => "#", :title => "GooglePlus"}
                %i.fa.fa-google-plus
              %a{:href => "#", :title => "Pinterest"}
                %i.fa.fa-pinterest
              %a{:href => "#", :title => "LinkedIn"}
                %i.fa.fa-linkedin
        %li.clearfix
          %article.hentry.post.clearfix
            %a{:href => "single_post.html", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
            .entry-meta
              %span.entry-category
                %a{:href => "archive.html"} Category 3
              %span.entry-date Jun. 11, 2014
            %h2.entry-title
              %a{:href => "single_post.html", :rel => "bookmark"}
                Ipsum Hendrerit Sed Neque Sed Sapien Rutrum Laoreet
                %i.fa.fa-youtube-play
            .byline
              %span.entry-view 32 Views
              %span.entry-comment
                %a{:href => "single_post.html#comments"} 9
              %span.entry-author
                by
                %a{:href => "archive.html"} Abdus Salam
            .entry-share-icons
              %a{:href => "#", :title => "Twitter"}
                %i.fa.fa-twitter
              %a{:href => "#", :title => "Facebook"}
                %i.fa.fa-facebook
              %a{:href => "#", :title => "GooglePlus"}
                %i.fa.fa-google-plus
              %a{:href => "#", :title => "Pinterest"}
                %i.fa.fa-pinterest
              %a{:href => "#", :title => "LinkedIn"}
                %i.fa.fa-linkedin
        %li.clearfix
          %article.hentry.post.clearfix
            %a{:href => "single_post.html", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
            .entry-meta
              %span.entry-category
                %a{:href => "archive.html"} Category 2
              %span.entry-date Jun. 10, 2014
            %h2.entry-title
              %a{:href => "single_post.html", :rel => "bookmark"} Elementum Sit Amet Felis Aecenas Pretium Lorem Hendrerit Eros
            .byline
              %span.entry-view 107 Views
              %span.entry-comment
                %a{:href => "single_post.html#comments"} 0
              %span.entry-author
                by
                %a{:href => "archive.html"} Marga Satrya
            .entry-share-icons
              %a{:href => "#", :title => "Twitter"}
                %i.fa.fa-twitter
              %a{:href => "#", :title => "Facebook"}
                %i.fa.fa-facebook
              %a{:href => "#", :title => "GooglePlus"}
                %i.fa.fa-google-plus
              %a{:href => "#", :title => "Pinterest"}
                %i.fa.fa-pinterest
              %a{:href => "#", :title => "LinkedIn"}
                %i.fa.fa-linkedin
        %li.clearfix
          %article.hentry.post.clearfix
            %a{:href => "single_post.html", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
            .entry-meta
              %span.entry-category
                %a{:href => "archive.html"} Category 4
              %span.entry-date Jun. 9, 2014
            %h2.entry-title
              %a{:href => "single_post.html", :rel => "bookmark"} Congue Sed Ligula Nam Dolor Ligula Faucibus Id Sodales Auctor
            .byline
              %span.entry-view 85 Views
              %span.entry-comment
                %a{:href => "single_post.html#comments"} 11
              %span.entry-author
                by
                %a{:href => "archive.html"} Radek Slaz
            .entry-share-icons
              %a{:href => "#", :title => "Twitter"}
                %i.fa.fa-twitter
              %a{:href => "#", :title => "Facebook"}
                %i.fa.fa-facebook
              %a{:href => "#", :title => "GooglePlus"}
                %i.fa.fa-google-plus
              %a{:href => "#", :title => "Pinterest"}
                %i.fa.fa-pinterest
              %a{:href => "#", :title => "LinkedIn"}
                %i.fa.fa-linkedin
        %li.clearfix
          %article.hentry.post.clearfix
            %a{:href => "single_post.html", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
            .entry-meta
              %span.entry-category
                %a{:href => "archive.html"} Category 1
              %span.entry-date Jun. 8, 2014
            %h2.entry-title
              %a{:href => "single_post.html", :rel => "bookmark"} Tempor Tellus Eget Fringilla Fusce Lacinia Tempor Malesuada Ut
            .byline
              %span.entry-view 73 Views
              %span.entry-comment
                %a{:href => "single_post.html#comments"} 3
              %span.entry-author
                by
                %a{:href => "archive.html"} Tanvir
            .entry-share-icons
              %a{:href => "#", :title => "Twitter"}
                %i.fa.fa-twitter
              %a{:href => "#", :title => "Facebook"}
                %i.fa.fa-facebook
              %a{:href => "#", :title => "GooglePlus"}
                %i.fa.fa-google-plus
              %a{:href => "#", :title => "Pinterest"}
                %i.fa.fa-pinterest
              %a{:href => "#", :title => "LinkedIn"}
                %i.fa.fa-linkedin
        %li.clearfix
          %article.hentry.post.clearfix
            %a{:href => "single_post.html", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
            .entry-meta
              %span.entry-category
                %a{:href => "archive.html"} Category 4
              %span.entry-date Jun. 7, 2014
            %h2.entry-title
              %a{:href => "single_post.html", :rel => "bookmark"} Pellentesque Pempor Tellus Eget Pellentesque Fusce Lacinia Tempor
            .byline
              %span.entry-view 95 Views
              %span.entry-comment
                %a{:href => "single_post.html#comments"} 9
              %span.entry-author
                by
                %a{:href => "archive.html"} Jason
            .entry-share-icons
              %a{:href => "#", :title => "Twitter"}
                %i.fa.fa-twitter
              %a{:href => "#", :title => "Facebook"}
                %i.fa.fa-facebook
              %a{:href => "#", :title => "GooglePlus"}
                %i.fa.fa-google-plus
              %a{:href => "#", :title => "Pinterest"}
                %i.fa.fa-pinterest
              %a{:href => "#", :title => "LinkedIn"}
                %i.fa.fa-linkedin
        %li.clearfix
          %article.hentry.post.clearfix
            %a{:href => "single_post.html", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
            .entry-meta
              %span.entry-category
                %a{:href => "archive.html"} Category 3
              %span.entry-date Jun. 6, 2014
            %h2.entry-title
              %a{:href => "single_post.html", :rel => "bookmark"} Maecenas Pretium Lorem Hendrerit Eros Sagittis Fermentum
            .byline
              %span.entry-view 79 Views
              %span.entry-comment
                %a{:href => "single_post.html#comments"} 12
              %span.entry-author
                by
                %a{:href => "archive.html"} John Doe
            .entry-share-icons
              %a{:href => "#", :title => "Twitter"}
                %i.fa.fa-twitter
              %a{:href => "#", :title => "Facebook"}
                %i.fa.fa-facebook
              %a{:href => "#", :title => "GooglePlus"}
                %i.fa.fa-google-plus
              %a{:href => "#", :title => "Pinterest"}
                %i.fa.fa-pinterest
              %a{:href => "#", :title => "LinkedIn"}
                %i.fa.fa-linkedin
      .more-content-link
        %a{:href => "home_paged.html"} Browse All News
    / More Content / Start
    #secondary.widget-area.widget-primary{:role => "complementary"}
      / Subscribe Widget / Start
      .widget.subscribe-widget
        %h3.widget-title Newsletter
        %p Subscribe to our newsletter to receive breaking news by email.
        %form{:role => "form"}
          %input{:placeHolder => "mail@example.com", :type => "text"}
            %button.btn{:type => "button"} Subscribe
      / Subscribe Widget / End
      / Ad Widget / Start
      .widget.ad-widget
        %h3.widget-title Advertisement
        %a{:href => "http://www.theme-junkie.com/", :target => "_blank"}
          %img{:alt => "Ad Widget", :src => ""}/
      / Ad Widget / End
      / Tabs Widget / Start
      .widget.tabs-widget
        / Tabs Nav
        %ul.tabs-nav
          %li.active
            %a{:href => "#tab1", :title => "Popular"}
              %i.fa.fa-thumbs-up
          %li
            %a{:href => "#tab2", :title => "Latest"}
              %i.fa.fa-clock-o
          %li
            %a{:href => "#tab3", :title => "Comments"}
              %i.fa.fa-comment
          %li
            %a{:href => "#tab4", :title => "Tags"}
              %i.fa.fa-tag
        / Tabs Container
        .tabs-container
          #tab1.tab-content
            %ul
              %li.clearfix
                %a{:href => "single_post.html", :rel => "bookmark"}
                  %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                %h2.entry-title
                  %a{:href => "single_post.html", :rel => "bookmark"} Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing
                .entry-meta 1 day ago
              %li.clearfix
                %a{:href => "single_post.html", :rel => "bookmark"}
                  %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                %h2.entry-title
                  %a{:href => "single_post.html", :rel => "bookmark"} Ut Enim ad Minim Veniam Quis Nostrud Exercitation
                .entry-meta 2 days ago
              %li.clearfix
                %a{:href => "single_post.html", :rel => "bookmark"}
                  %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                %h2.entry-title
                  %a{:href => "single_post.html", :rel => "bookmark"} Sed Do Eiusmod Tempor Incididunt ut Labore et Dolore
                .entry-meta 3 dasy ago
              %li.clearfix
                %a{:href => "single_post.html", :rel => "bookmark"}
                  %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                %h2.entry-title
                  %a{:href => "single_post.html", :rel => "bookmark"} Pellentesque Pempor Tellus Eget Pellentesque Fusce
                .entry-meta 4 days ago
          #tab2.tab-content
            %ul
              %li.clearfix
                %a{:href => "single_post.html", :rel => "bookmark"}
                  %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                %h2.entry-title
                  %a{:href => "single_post.html", :rel => "bookmark"} Donec Varius Condimentum Auguenec Mollis Risus
                .entry-meta 1 day ago
              %li.clearfix
                %a{:href => "single_post.html", :rel => "bookmark"}
                  %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                %h2.entry-title
                  %a{:href => "single_post.html", :rel => "bookmark"} Etiam Elit Est Tincidunt Non Tincidunt Sit
                .entry-meta 2 days ago
              %li.clearfix
                %a{:href => "single_post.html", :rel => "bookmark"}
                  %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                %h2.entry-title
                  %a{:href => "single_post.html", :rel => "bookmark"} Suspendisse Sit Amet Turpis Quam Sed Varius
                .entry-meta 3 dasy ago
              %li.clearfix
                %a{:href => "single_post.html", :rel => "bookmark"}
                  %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                %h2.entry-title
                  %a{:href => "single_post.html", :rel => "bookmark"} Vivamus Ac Dapibus Nisl Proin In Tellus Non Velit
                .entry-meta 4 days ago
          #tab3.tab-content
            %ul
              %li.clearfix
                %a{:href => "single_post.html#comments"}
                  %img.entry-thumbnail{:alt => "Author Name", :src => ""}/
                %a{:href => "single_post.html#comments"}
                  %strong> John Doe
                  \:
                  %span Thanks very much for providing such a great theme! ...
              %li.clearfix
                %a{:href => "single_post.html#comments"}
                  %img.entry-thumbnail{:alt => "Author Name", :src => ""}/
                %a{:href => "single_post.html#comments"}
                  %strong> John Doe
                  \:
                  %span Thanks very much for providing such a great theme! ...
              %li.clearfix
                %a{:href => "single_post.html#comments"}
                  %img.entry-thumbnail{:alt => "Author Name", :src => ""}/
                %a{:href => "single_post.html#comments"}
                  %strong> John Doe
                  \:
                  %span Thanks very much for providing such a great theme! ...
              %li.clearfix
                %a{:href => "single_post.html#comments"}
                  %img.entry-thumbnail{:alt => "Author Name", :src => ""}/
                %a{:href => "single_post.html#comments"}
                  %strong> John Doe
                  \:
                  %span Thanks very much for providing such a great theme! ...
          #tab4.tab-content
            %a{:href => "#"} WordPress
            %a{:href => "#"} Themes
            %a{:href => "#"} Plugins
            %a{:href => "#"} Hosting
            %a{:href => "#"} Web Design
            %a{:href => "#"} Web Dev
            %a{:href => "#"} Domain Name
            %a{:href => "#"} WP Engine
            %a{:href => "#"} Affiliates
            %a{:href => "#"} bbPress
      / Tabs Widget / End
      .widget
        %h3.widget-title General Widget
        %ul
          %li
            %a{:href => "#"} Just Another List Item 1
          %li
            %a{:href => "#"} Just Another List Item 2
          %li
            %a{:href => "#"} Just Another List Item 3
      / Ad Widget / Start
      .widget.ad-widget
        %h3.widget-title Advertisement
        %a{:href => "http://www.theme-junkie.com/", :target => "_blank"}
          %img{:alt => "Ad Widget", :src => ""}/
      / Ad Widget / End
    / Secondary / End
    .clearfix
  / .container
/ Primary / End
/ Footer / Start
%footer#footer.clearfix
  .container.clearfix
    .footer-column.footer-column-1
      .widget.posts-thumbnail-widget
        %h3.widget-title Recent Posts
        %ul
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => "http://placehold.it/48x48"}/
            %a{:href => "#", :rel => "bookmark"} Donec Varius Condimentum Auguenec Mollis Risus
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => "http://placehold.it/48x48"}/
            %a{:href => "#", :rel => "bookmark"} Etiam Elit Est Tincidunt Non Tincidunt Sit
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => "http://placehold.it/48x48"}/
            %a{:href => "#", :rel => "bookmark"} Suspendisse Sit Amet Turpis Quam Sed Varius
    .footer-column.footer-column-2
      .widget.posts-thumbnail-widget
        %h3.widget-title Popular Posts
        %ul
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => "http://placehold.it/48x48"}/
            %a{:href => "#", :rel => "bookmark"} Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => "http://placehold.it/48x48"}/
            %a{:href => "#", :rel => "bookmark"} Ut Enim ad Minim Veniam Quis Nostrud Exercitation
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => "http://placehold.it/48x48"}/
            %a{:href => "#", :rel => "bookmark"} Sed Do Eiusmod Tempor Incididunt ut Labore et Dolore
    .footer-column.footer-column-3
      .widget.posts-thumbnail-widget
        %h3.widget-title Ramdom Posts
        %ul
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => ""}/
            %a{:href => "#", :rel => "bookmark"} Vivamus Ac Dapibus Nisl Proin In Tellus Non Velit
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => ""}/
            %a{:href => "#", :rel => "bookmark"} Cras Augue Ante Tincidunt Consequat Ultricies
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => ""}/
            %a{:href => "#", :rel => "bookmark"} Vestibulum Quam Neque Pretium Eu Consectetur
    .footer-column.footer-column-4
      .widget.subscribe-widget
        %h3.widget-title Newsletter
        %p Make sure you don't miss interesting happenings by joining our newsletter program. We don't do spam.
        %form{:role => "form"}
          %input{:placeHolder => "mail@example.com", :type => "text"}
            %button.btn{:type => "button"} Subscribe
  / .container
  / Site Bottom / Start
  #site-bottom.clearfix
    .footer-social-icons
      %a{:href => "#", :title => "Facebook"}
        %i.fa.fa-facebook
      %a{:href => "#", :title => "Twitter"}
        %i.fa.fa-twitter
      %a{:href => "#", :title => "GooglePlus"}
        %i.fa.fa-google-plus
      %a{:href => "#", :title => "Pinterest"}
        %i.fa.fa-pinterest
      %a{:href => "#", :title => "LinkedIn"}
        %i.fa.fa-linkedin
      %a{:href => "#", :title => "RSS"}
        %i.fa.fa-rss
      %a{:href => "#", :title => "Newsletter"}
        %i.fa.fa-envelope-o
    %nav#footer-nav.clearfix
      %ul
        %li
          %a{:href => "index.html"} Home
        %li
          %a{:href => "single_page.html"} Menu 1
        %li
          %a{:href => "single_page.html"} Menu 2
        %li
          %a{:href => "single_page.html"} Menu 3
        %li
          %a{:href => "single_page.html"} Menu 4
        %li
          %a{:href => "single_page.html"} Menu 5
    .copyright
      %p
        \&copy; 2014
        %a{:href => "index.html"} theWorld
      %p
        Powered by
        %a{:href => "#"} HTML5 & CSS3
        \&middot; Designed by
        %a{:href => "http://www.theme-junkie.com/"} Theme Junkie
  / Site Bottom / End
/ Footer / End

