
#primary.content-area
  / Featured Content / Start
  #featured-content.clearfix
    .container
      %h3.section-title Recent Shows...

      %slick{:infinite => "true", "slides-to-scroll" => "3", "slides-to-show" => "3", :data => "requestControl.podcasts", "init-onload" => "true"}
        %div{'ng-repeat' => "podcast in requestControl.podcasts"}
          %article
            %a{:href => '/podcasts/{{podcast.podcast_id}}', :rel => 'bookmark'}
              = image_tag "PSHQ-Entrepreneur-268-181.jpg"
            .entry-meta
              %span.entry-date {{podcast.air_date}}
            .entry-meta
              %span.entry-date{:style => 'color: white;'} {{podcast.name}}

    / END list group
  .panel-footer.text-right
    %a.btn.btn-default.btn-sm{:href => "javascript:void(0);"} View All Activity

  .container
    / More Content / Start
    #more-content.content-loop
      %h3.section-title
        Latest News
        %span.see-all
          %a{:href => "/posts"}
            Browse All News
            %i.fa.fa-angle-right
      %ul
        %li.clearfix{'ng-repeat' => 'post in requestControl.posts'}
          %article.hentry.post.clearfix
            %a{:href => '/posts/{{post.post_id}}'}
              %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
            .entry-meta
              %span.entry-category
                %a{:href => "archive.html"} Category 1
              %span.entry-date {{post.post_date}}
            %h2.entry-title
              %a{:href => '/posts/{{post.post_id}}', :rel => 'bookmark'} {{post.name}}
            .byline
              %span.entry-view 89 Views
              %span.entry-comment
                %a{:href => "single_post.html#comments"} 14
              %span.entry-author
                by
                %a{:href => "archive.html"} {{post.user.full_name}}
            .entry-summary
              {{post.summary}}
            .entry-share-icons
              %a{:href => "#", :title => "Twitter"}
                %i.fa.fa-twitter
              %a{:href => "#", :title => "Facebook"}
                %i.fa.fa-facebook
              %a{:href => "#", :title => "GooglePlus"}
                %i.fa.fa-google-plus
              %a{:href => "#", :title => "Pinterest"}
                %i.fa.fa-pinterest
              %a{:href => "#", :title => "LinkedIn"}
                %i.fa.fa-linkedin


    / More Content / Start
    #secondary.widget-area.widget-primary{:role => "complementary"}
      / Subscribe Widget / Start
      .widget.subscribe-widget
        %h3.widget-title Newsletter
        %p Subscribe to our newsletter to receive breaking news by email.
        %form{:role => "form"}
          %input{:placeHolder => "mail@example.com", :type => "text"}
            %button.btn{:type => "button"} Subscribe
      / Subscribe Widget / End
      / Ad Widget / Start
      .widget.ad-widget
        %h3.widget-title Advertisement
        %a{:href => "http://www.theme-junkie.com/", :target => "_blank"}
          %img{:alt => "Ad Widget", :src => ""}/
      / Ad Widget / End
      / Tabs Widget / Start
      .widget.tabs-widget
        / Tabs Nav
        %ul.tabs-nav
          %li.active
            %a{:href => "#tab1", :title => "Popular"}
              %i.fa.fa-thumbs-up
          %li
            %a{:href => "#tab2", :title => "Latest"}
              %i.fa.fa-clock-o
          %li
            %a{:href => "#tab3", :title => "Comments"}
              %i.fa.fa-comment
          %li
            %a{:href => "#tab4", :title => "Tags"}
              %i.fa.fa-tag
        / Tabs Container
        .tabs-container
          #tab1.tab-content
            %ul
              %li.clearfix
                %a{:href => "single_post.html", :rel => "bookmark"}
                  %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                %h2.entry-title
                  %a{:href => "single_post.html", :rel => "bookmark"} Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing
                .entry-meta 1 day ago
              %li.clearfix
                %a{:href => "single_post.html", :rel => "bookmark"}
                  %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                %h2.entry-title
                  %a{:href => "single_post.html", :rel => "bookmark"} Ut Enim ad Minim Veniam Quis Nostrud Exercitation
                .entry-meta 2 days ago
              %li.clearfix
                %a{:href => "single_post.html", :rel => "bookmark"}
                  %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                %h2.entry-title
                  %a{:href => "single_post.html", :rel => "bookmark"} Sed Do Eiusmod Tempor Incididunt ut Labore et Dolore
                .entry-meta 3 dasy ago
              %li.clearfix
                %a{:href => "single_post.html", :rel => "bookmark"}
                  %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                %h2.entry-title
                  %a{:href => "single_post.html", :rel => "bookmark"} Pellentesque Pempor Tellus Eget Pellentesque Fusce
                .entry-meta 4 days ago
          #tab2.tab-content
            %ul
              %li.clearfix
                %a{:href => "single_post.html", :rel => "bookmark"}
                  %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                %h2.entry-title
                  %a{:href => "single_post.html", :rel => "bookmark"} Donec Varius Condimentum Auguenec Mollis Risus
                .entry-meta 1 day ago
              %li.clearfix
                %a{:href => "single_post.html", :rel => "bookmark"}
                  %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                %h2.entry-title
                  %a{:href => "single_post.html", :rel => "bookmark"} Etiam Elit Est Tincidunt Non Tincidunt Sit
                .entry-meta 2 days ago
              %li.clearfix
                %a{:href => "single_post.html", :rel => "bookmark"}
                  %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                %h2.entry-title
                  %a{:href => "single_post.html", :rel => "bookmark"} Suspendisse Sit Amet Turpis Quam Sed Varius
                .entry-meta 3 dasy ago
              %li.clearfix
                %a{:href => "single_post.html", :rel => "bookmark"}
                  %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                %h2.entry-title
                  %a{:href => "single_post.html", :rel => "bookmark"} Vivamus Ac Dapibus Nisl Proin In Tellus Non Velit
                .entry-meta 4 days ago
          #tab3.tab-content
            %ul
              %li.clearfix
                %a{:href => "single_post.html#comments"}
                  %img.entry-thumbnail{:alt => "Author Name", :src => ""}/
                %a{:href => "single_post.html#comments"}
                  %strong> John Doe
                  \:
                  %span Thanks very much for providing such a great theme! ...
              %li.clearfix
                %a{:href => "single_post.html#comments"}
                  %img.entry-thumbnail{:alt => "Author Name", :src => ""}/
                %a{:href => "single_post.html#comments"}
                  %strong> John Doe
                  \:
                  %span Thanks very much for providing such a great theme! ...
              %li.clearfix
                %a{:href => "single_post.html#comments"}
                  %img.entry-thumbnail{:alt => "Author Name", :src => ""}/
                %a{:href => "single_post.html#comments"}
                  %strong> John Doe
                  \:
                  %span Thanks very much for providing such a great theme! ...
              %li.clearfix
                %a{:href => "single_post.html#comments"}
                  %img.entry-thumbnail{:alt => "Author Name", :src => ""}/
                %a{:href => "single_post.html#comments"}
                  %strong> John Doe
                  \:
                  %span Thanks very much for providing such a great theme! ...
          #tab4.tab-content
            %a{:href => "#"} WordPress
            %a{:href => "#"} Themes
            %a{:href => "#"} Plugins
            %a{:href => "#"} Hosting
            %a{:href => "#"} Web Design
            %a{:href => "#"} Web Dev
            %a{:href => "#"} Domain Name
            %a{:href => "#"} WP Engine
            %a{:href => "#"} Affiliates
            %a{:href => "#"} bbPress
      / Tabs Widget / End
      .widget
        %h3.widget-title General Widget
        %ul
          %li
            %a{:href => "#"} Just Another List Item 1
          %li
            %a{:href => "#"} Just Another List Item 2
          %li
            %a{:href => "#"} Just Another List Item 3
      / Ad Widget / Start
      .widget.ad-widget
        %h3.widget-title Advertisement
        %a{:href => "http://www.theme-junkie.com/", :target => "_blank"}
          %img{:alt => "Ad Widget", :src => ""}/
      / Ad Widget / End
    / Secondary / End
    .clearfix
  / .container
/ Primary / End
/ Footer / Start
%footer#footer.clearfix
  .container.clearfix
    .footer-column.footer-column-1
      .widget.posts-thumbnail-widget
        %h3.widget-title Recent Posts
        %ul
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => "http://placehold.it/48x48"}/
            %a{:href => "#", :rel => "bookmark"} Donec Varius Condimentum Auguenec Mollis Risus
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => "http://placehold.it/48x48"}/
            %a{:href => "#", :rel => "bookmark"} Etiam Elit Est Tincidunt Non Tincidunt Sit
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => "http://placehold.it/48x48"}/
            %a{:href => "#", :rel => "bookmark"} Suspendisse Sit Amet Turpis Quam Sed Varius
    .footer-column.footer-column-2
      .widget.posts-thumbnail-widget
        %h3.widget-title Popular Posts
        %ul
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => "http://placehold.it/48x48"}/
            %a{:href => "#", :rel => "bookmark"} Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => "http://placehold.it/48x48"}/
            %a{:href => "#", :rel => "bookmark"} Ut Enim ad Minim Veniam Quis Nostrud Exercitation
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => "http://placehold.it/48x48"}/
            %a{:href => "#", :rel => "bookmark"} Sed Do Eiusmod Tempor Incididunt ut Labore et Dolore
    .footer-column.footer-column-3
      .widget.posts-thumbnail-widget
        %h3.widget-title Ramdom Posts
        %ul
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => ""}/
            %a{:href => "#", :rel => "bookmark"} Vivamus Ac Dapibus Nisl Proin In Tellus Non Velit
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => ""}/
            %a{:href => "#", :rel => "bookmark"} Cras Augue Ante Tincidunt Consequat Ultricies
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => ""}/
            %a{:href => "#", :rel => "bookmark"} Vestibulum Quam Neque Pretium Eu Consectetur
    .footer-column.footer-column-4
      .widget.subscribe-widget
        %h3.widget-title Newsletter
        %p Make sure you don't miss interesting happenings by joining our newsletter program. We don't do spam.
        %form{:role => "form"}
          %input{:placeHolder => "mail@example.com", :type => "text"}
            %button.btn{:type => "button"} Subscribe
  / .container
  / Site Bottom / Start
  #site-bottom.clearfix
    .footer-social-icons
      %a{:href => "#", :title => "Facebook"}
        %i.fa.fa-facebook
      %a{:href => "#", :title => "Twitter"}
        %i.fa.fa-twitter
      %a{:href => "#", :title => "GooglePlus"}
        %i.fa.fa-google-plus
      %a{:href => "#", :title => "Pinterest"}
        %i.fa.fa-pinterest
      %a{:href => "#", :title => "LinkedIn"}
        %i.fa.fa-linkedin
      %a{:href => "#", :title => "RSS"}
        %i.fa.fa-rss
      %a{:href => "#", :title => "Newsletter"}
        %i.fa.fa-envelope-o
    %nav#footer-nav.clearfix
      %ul
        %li
          %a{:href => "index.html"} Home
        %li
          %a{:href => "single_page.html"} Menu 1
        %li
          %a{:href => "single_page.html"} Menu 2
        %li
          %a{:href => "single_page.html"} Menu 3
        %li
          %a{:href => "single_page.html"} Menu 4
        %li
          %a{:href => "single_page.html"} Menu 5
    .copyright
      %p
        \&copy; 2014
        %a{:href => "index.html"} theWorld
      %p
        Powered by
        %a{:href => "#"} HTML5 & CSS3
        \&middot; Designed by
        %a{:href => "http://www.theme-junkie.com/"} Theme Junkie
  / Site Bottom / End
/ Footer / End

