#recent-content.container.clearfix
  %h3.section-title
    Latest Posts
    %span.see-all
      %a{:href => "/posts/new"}
        New Post
        %i.fa.fa-angle-right
  %article.hentry{'ng-repeat' => 'post in requestControl.posts'}
    %a{:href => '/posts/{{post.post_id}}'}
      %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
    .entry-meta
      %span.entry-date {{post.post_date}}
    %h2.entry-title
      %a{:href => '/posts/{{post.post_id}}', :rel => 'bookmark'} {{post.name}}
    .byline
      %span.entry-view 89 Views
      %span.entry-comment
        %a{:href => "single_post.html#comments"} 14
      %span.entry-author
        by
        %a{:href => "archive.html"} {{post.user.full_name}}
    .entry-summary
      {{post.summary}}
    .entry-share-icons
      %a{:href => "#", :title => "Twitter"}
        %i.fa.fa-twitter
      %a{:href => "#", :title => "Facebook"}
        %i.fa.fa-facebook
      %a{:href => "#", :title => "GooglePlus"}
        %i.fa.fa-google-plus
      %a{:href => "#", :title => "Pinterest"}
        %i.fa.fa-pinterest
      %a{:href => "#", :title => "LinkedIn"}
        %i.fa.fa-linkedin

  / Add clearfix per line (3 posts)
  .clearfix
/ Recent Content / End