.content
  .col-md-12
    .panel
      .panel-body
        .viewcode-example
          %form.simple-form{:novalidate => "novalidate"}
            %fieldset
              %legend.section
                %h5
                  %i.icon-note
                  %strong General
                  %strong.pull-right.make-red * Required

              .control-group
                %label.control-label Podcast Name
                .controls.form-group
                  %input.form-control.input-sm{'ng-model' => 'requestControl.params.name', :type => 'text', :placeholder => 'Enter..'}

                %label.control-label Episode Number
                .controls.form-group
                  %input.form-control.input-sm{'ng-model' => 'requestControl.params.episode_number', :type => 'number'}

              .control-group
                %label.control-label Date Aired
                .controls.form-group
                  %input.form-control.input-sm{'ng-model' => 'requestControl.params.air_date', :type => 'text', :placeholder => 'Enter..'}

              .control-group
                %label.control-label Summary
                .controls.form-group
                  %textarea.form-control.input-sm{'ng-model' => 'requestControl.params.summary', :type => 'text', :placeholder => 'Enter..', :rows => 7}

              .control-group
                %label.control-label Description
                .controls.form-group
                  %wysiwyg{"enable-bootstrap-title" => "true", "ng-model" => "requestControl.widgitDescription", "textarea-class" => "form-control", "textarea-height" => "250px", "textarea-id" => "podcastDescription", "textarea-name" => "podcastDescription", "textarea-required" => ""}

            .form-actions
              %p
                .btn-group.no-margin{style: "float: right;"}
                  %button.btn.btn-sm.btn-default{"ng-click" => "requestControl.cancel()"} Cancel
                  %button.btn.btn-sm.btn-success{"ng-click" => "requestControl.updatePodcast()"} Update Podcast

