.container
  / More Content / Start
  .content-loop
    %h3.section-title
      The Podcasts

    %ul
      %li.clearfix{'ng-repeat' => 'podcast in requestControl.podcasts'}
        / %article.hentry.post.clearfix
        /   %a{:href => "", :rel => "bookmark"}
        /     = image_tag "PSHQ-Entrepreneur-268-181.jpg", :class => 'entry-thumbnail'
        /   .entry-meta
        /     %span.entry-category
        /       Episode {{podcast.episode_number}} -
        /     %span.entry-date {{podcast.air_date}}
        /   %h2.entry-title
        /     %a{:href => '/podcasts/{{podcast.podcast_id}}', :ref => 'bookmark'}
        /       {{podcast.name}}
        /       %i.fa.fa-youtube-play

        %article#post-1.hentry.post.clearfix
          %a{:href => "single_post.html"}
            %img.entry-thumbnail{:alt => "Post Title", :src => "http://placehold.it/200x200"}/
          .entry-meta
            %span.entry-category
              %a Episode {{podcast.episode_number}} -
            %span.entry-date {{podcast.air_date}}
          %h2.entry-title
            %a{:href => '/podcasts/{{podcast.podcast_id}}', :ref => 'bookmark'} {{podcast.name}}
          .byline
            %span.entry-view 123 Views
            %span.entry-comment
              %a{:href => "single_post.html#comments"} 14
            %span.entry-author
              by
              %a{:href => ""} John Doe
          .entry-summary
            {{podcast.summary}}
          .entry-share-icons
            %a{:href => "#", :title => "Twitter"}
              %i.fa.fa-twitter
            %a{:href => "#", :title => "Facebook"}
              %i.fa.fa-facebook
            %a{:href => "#", :title => "GooglePlus"}
              %i.fa.fa-google-plus
            %a{:href => "#", :title => "Pinterest"}
              %i.fa.fa-pinterest
            %a{:href => "#", :title => "LinkedIn"}
              %i.fa.fa-linkedin

    .span
      .pull-right
        .pagination-wrapper
          %ul.pagination
            %li{ 'ng-repeat' => 'page in requestControl.pagination.relevant_pages', 'ng-class' => "{active: page == requestControl.current_page}" }
              %a.btn{ 'ng-show' => '$first && requestControl.current_page != page', 'ng-click' => "requestControl.changePage(page)" } &lt;&lt;

              %a.btn.disabled{ 'ng-show' => '$index > 0 && (page - requestControl.pagination.relevant_pages[$index-1]) > 1' } ...

              %a.btn{ 'ng-click' => "requestControl.changePage(page)" }
                {{ page }}
              %a.btn{ 'ng-show' => '$last && requestControl.current_page!=page', 'ng-click' => "requestControl.changePage(page)" } &gt;&gt;

