#primary.content-area
  / Related Content / Start
  #related-content.clearfix
    .container
      %h3.section-title You might also like...
      #carousel-2.jcarousel
        %ul
          %li
            %article.hentry.post
              %a{:href => "single_post.html", :rel => "bookmark"}
                %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
              .entry-meta
                %span.entry-date Jun. 29, 2014
              %h2.entry-title
                %a{:href => "single_post.html", :rel => "bookmark"} Ipsum Hendrerit Sed Neque Sed Sapien Rutrum Laoreet
          %li
            %article.hentry.post
              %a{:href => "single_post.html", :rel => "bookmark"}
                %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
              .entry-meta
                %span.entry-date Jun. 29, 2014
              %h2.entry-title
                %a{:href => "single_post.html", :rel => "bookmark"} Elementum Sit Amet Felis Aecenas Pretium Lorem Hendrerit Eros
          %li
            %article.hentry.post
              %a{:href => "single_post.html", :rel => "bookmark"}
                %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
              .entry-meta
                %span.entry-date Jun. 29, 2014
              %h2.entry-title
                %a{:href => "single_post.html", :rel => "bookmark"} Congue Sed Ligula Nam Dolor Ligula Faucibus Id Sodales Auctor
          %li
            %article.hentry.post
              %a{:href => "single_post.html", :rel => "bookmark"}
                %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
              .entry-meta
                %span.entry-date Jun. 29, 2014
              %h2.entry-title
                %a{:href => "single_post.html", :rel => "bookmark"} Tempor Tellus Eget Fringilla Fusce Lacinia Tempor Malesuada Ut
          %li
            %article.hentry.post
              %a{:href => "single_post.html", :rel => "bookmark"}
                %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
              .entry-meta
                %span.entry-date Jun. 29, 2014
              %h2.entry-title
                %a{:href => "single_post.html", :rel => "bookmark"} Pellentesque Pempor Tellus Eget Pellentesque Fusce Lacinia Tempor
      / #carousel-2
      %a.jcarousel-control-prev{:href => "#"}
        %i.fa.fa-chevron-left
      %a.jcarousel-control-next{:href => "#"}
        %i.fa.fa-chevron-right
    / .container
  / Related Content / End
  .container
    / More Content / Start
    #more-content
      %article.hentry.post
        %h1.page-title Single Page Title
        .entry-content
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          %h1 H1 Header
          %p Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. Pellentesque pellentesque eget tempor tellus. Fusce lacinia tempor malesuada. Ut lacus sapien, placerat a ornare nec, elementum sit amet felis. Maecenas pretium lorem hendrerit eros sagittis fermentum.
          %h2 H2 Header
          %p Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. Pellentesque pellentesque tellus eget tempor. Fusce lacinia tempor malesuada. Ut lacus sapien, placerat a ornare nec, elementum sit amet felis. Maecenas pretium lorem hendrerit eros sagittis fermentum.
          %h3 H3 Header
          %p Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. Pellentesque tempor tellus eget pellentesque. Fusce lacinia tempor malesuada. Ut lacus sapien, placerat a ornare nec, elementum sit amet felis. Maecenas pretium lorem hendrerit eros sagittis fermentum.
          %h4 H4 Header
          %p Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales in, auctor libero. Pellentesque pellentesque tempor tellus eget fringilla. Fusce lacinia tempor malesuada. Ut lacus sapien, placerat a ornare nec, elementum sit amet felis. Maecenas pretium lorem hendrerit eros sagittis fermentum.
          %h5 H5 Header
          %p Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. Pellentesque pellentesque tempor tellus eget. Fusce lacinia tempor malesuada. Ut lacus sapien, placerat a ornare nec, elementum sit amet felis. Maecenas pretium lorem hendrerit eros sagittis fermentum.
          %h6 H6 Header
          %p Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales in, auctor fringilla. Pellentesque pellentesque tempor tellus eget libero. Fusce lacinia tempor malesuada. Ut lacus sapien, placerat a ornare nec, elementum sit amet felis. Maecenas pretium lorem hendrerit eros sagittis fermentum.
          %h3 Blockquote
          %p Maecenas dolor est, interdum a euismod eu, accumsan posuere nisl. Nam sed iaculis massa. Sed nisl lectus, tempor sed euismod quis, sollicitudin nec est. Suspendisse dignissim bibendum tempor. Nam erat felis, commodo sed semper commodo vel mauris suspendisse dignissim bibendum tempus.
          %blockquote Mauris aliquet ultricies ante, non faucibus ante gravida sed. Sed ultrices pellentesque purus, vulputate volutpat ipsum hendrerit sed neque sed sapien rutrum laoreet justo ultrices. In pellentesque lorem condimentum dui morbi pulvinar dui non quam pretium ut lacinia tortor.
          %p In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida. Cras suscipit, quam vitae adipiscing faucibus, risus nibh laoreet odio, a porttitor metus eros ut enim. Morbi augue velit, tempus mattis dignissim nec, porta sed risus. Donec eget magna eu lorem tristique pellentesque eget eu dui. Fusce lacinia tempor malesuada. Ut lacus sapien, placerat a ornare nec, elementum sit amet felis. Maecenas pretium hendrerit fermentum.
          %h3 Dropcap
          %p
            %span.dropcap D
            onec varius condimentum augue, nec mollis risus egestas sit amet. Etiam elit est, tincidunt non tincidunt sit amet, mollis vitae orci. Suspendisse sit amet turpis quam. Sed varius magna nec felis faucibus blandit. Quisque at gravida ante. Phasellus sagittis aliquam sodales. Donec a tortor vitae dolor sagittis aliquam eu id lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus ac dapibus nisl. Proin in tellus non velit sagittis viverra vel sit amet dui. Cras augue ante, tincidunt consequat ultricies ultricies, tempor a elit. Vestibulum feugiat dapibus tempus. Integer suscipit ipsum sem fermentum bibendum. Vestibulum quam neque, pretium eu consectetur quis, iaculis et massa. Sed consectetur erat fermentum purus condimentum aliquam.
          %h3 Lists
          %ul
            %li Unordered List lorem ipsum aperia
            %li Unordered List lorem ipsum aperia
            %li Unordered List lorem ipsum aperia
            %li Unordered List lorem ipsum aperia
          %ol
            %li Ordered List lorem ipsum aperia
            %li Ordered List lorem ipsum aperia
            %li Ordered List lorem ipsum aperia
            %li Ordered List lorem ipsum aperia
        / .entry-content
    / More Content / End
    #secondary.widget-area.widget-primary{:role => "complementary"}
      / Subscribe Widget / Start
      .widget.subscribe-widget
        %h3.widget-title Newsletter
        %p Subscribe to our newsletter to receive breaking news by email.
        %form{:role => "form"}
          %input{:placeHolder => "mail@example.com", :type => "text"}
            %button.btn{:type => "button"} Subscribe
      / Subscribe Widget / End
      / Ad Widget / Start
      .widget.ad-widget
        %h3.widget-title Advertisement
        %a{:href => "http://www.theme-junkie.com/", :target => "_blank"}
          %img{:alt => "Ad Widget", :src => ""}/
      / Ad Widget / End
      / Tabs Widget / Start
      .widget.tabs-widget
        / Tabs Nav
        %ul.tabs-nav
          %li.active
            %a{:href => "#tab1", :title => "Popular"}
              %i.fa.fa-thumbs-up
          %li
            %a{:href => "#tab2", :title => "Latest"}
              %i.fa.fa-clock-o
          %li
            %a{:href => "#tab3", :title => "Comments"}
              %i.fa.fa-comment
          %li
            %a{:href => "#tab4", :title => "Tags"}
              %i.fa.fa-tag
        / Tabs Container
        .tabs-container
          #tab1.tab-content
            %ul
              %li.clearfix
                %a{:href => "single_post.html", :rel => "bookmark"}
                  %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                %h2.entry-title
                  %a{:href => "single_post.html", :rel => "bookmark"} Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing
                .entry-meta 1 day ago
              %li.clearfix
                %a{:href => "single_post.html", :rel => "bookmark"}
                  %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                %h2.entry-title
                  %a{:href => "single_post.html", :rel => "bookmark"} Ut Enim ad Minim Veniam Quis Nostrud Exercitation
                .entry-meta 2 days ago
              %li.clearfix
                %a{:href => "single_post.html", :rel => "bookmark"}
                  %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                %h2.entry-title
                  %a{:href => "single_post.html", :rel => "bookmark"} Sed Do Eiusmod Tempor Incididunt ut Labore et Dolore
                .entry-meta 3 dasy ago
              %li.clearfix
                %a{:href => "single_post.html", :rel => "bookmark"}
                  %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                %h2.entry-title
                  %a{:href => "single_post.html", :rel => "bookmark"} Pellentesque Pempor Tellus Eget Pellentesque Fusce
                .entry-meta 4 days ago
          #tab2.tab-content
            %ul
              %li.clearfix
                %a{:href => "single_post.html", :rel => "bookmark"}
                  %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                %h2.entry-title
                  %a{:href => "single_post.html", :rel => "bookmark"} Donec Varius Condimentum Auguenec Mollis Risus
                .entry-meta 1 day ago
              %li.clearfix
                %a{:href => "single_post.html", :rel => "bookmark"}
                  %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                %h2.entry-title
                  %a{:href => "single_post.html", :rel => "bookmark"} Etiam Elit Est Tincidunt Non Tincidunt Sit
                .entry-meta 2 days ago
              %li.clearfix
                %a{:href => "single_post.html", :rel => "bookmark"}
                  %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                %h2.entry-title
                  %a{:href => "single_post.html", :rel => "bookmark"} Suspendisse Sit Amet Turpis Quam Sed Varius
                .entry-meta 3 dasy ago
              %li.clearfix
                %a{:href => "single_post.html", :rel => "bookmark"}
                  %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                %h2.entry-title
                  %a{:href => "single_post.html", :rel => "bookmark"} Vivamus Ac Dapibus Nisl Proin In Tellus Non Velit
                .entry-meta 4 days ago
          #tab3.tab-content
            %ul
              %li.clearfix
                %a{:href => "single_post.html#comments"}
                  %img.entry-thumbnail{:alt => "Author Name", :src => ""}/
                %a{:href => "single_post.html#comments"}
                  %strong> John Doe
                  \:
                  %span Thanks very much for providing such a great theme! ...
              %li.clearfix
                %a{:href => "single_post.html#comments"}
                  %img.entry-thumbnail{:alt => "Author Name", :src => ""}/
                %a{:href => "single_post.html#comments"}
                  %strong> John Doe
                  \:
                  %span Thanks very much for providing such a great theme! ...
              %li.clearfix
                %a{:href => "single_post.html#comments"}
                  %img.entry-thumbnail{:alt => "Author Name", :src => ""}/
                %a{:href => "single_post.html#comments"}
                  %strong> John Doe
                  \:
                  %span Thanks very much for providing such a great theme! ...
              %li.clearfix
                %a{:href => "single_post.html#comments"}
                  %img.entry-thumbnail{:alt => "Author Name", :src => ""}/
                %a{:href => "single_post.html#comments"}
                  %strong> John Doe
                  \:
                  %span Thanks very much for providing such a great theme! ...
          #tab4.tab-content
            %a{:href => "#"} WordPress
            %a{:href => "#"} Themes
            %a{:href => "#"} Plugins
            %a{:href => "#"} Hosting
            %a{:href => "#"} Web Design
            %a{:href => "#"} Web Dev
            %a{:href => "#"} Domain Name
            %a{:href => "#"} WP Engine
            %a{:href => "#"} Affiliates
            %a{:href => "#"} bbPress
      / Tabs Widget / End
      .widget
        %h3.widget-title General Widget
        %ul
          %li
            %a{:href => "#"} Just Another List Item 1
          %li
            %a{:href => "#"} Just Another List Item 2
          %li
            %a{:href => "#"} Just Another List Item 3
      / Ad Widget / Start
      .widget.ad-widget
        %h3.widget-title Advertisement
        %a{:href => "http://www.theme-junkie.com/", :target => "_blank"}
          %img{:alt => "Ad Widget", :src => ""}/
      / Ad Widget / End
    / Secondary / End
    .clearfix
  / .container
/ Primary / End
/ Footer / Start
%footer#footer.clearfix
  .container.clearfix
    .footer-column.footer-column-1
      .widget.posts-thumbnail-widget
        %h3.widget-title Recent Posts
        %ul
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => ""}/
            %a{:href => "#", :rel => "bookmark"} Donec Varius Condimentum Auguenec Mollis Risus
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => ""}/
            %a{:href => "#", :rel => "bookmark"} Etiam Elit Est Tincidunt Non Tincidunt Sit
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => ""}/
            %a{:href => "#", :rel => "bookmark"} Suspendisse Sit Amet Turpis Quam Sed Varius
    .footer-column.footer-column-2
      .widget.posts-thumbnail-widget
        %h3.widget-title Popular Posts
        %ul
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => ""}/
            %a{:href => "#", :rel => "bookmark"} Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => ""}/
            %a{:href => "#", :rel => "bookmark"} Ut Enim ad Minim Veniam Quis Nostrud Exercitation
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => ""}/
            %a{:href => "#", :rel => "bookmark"} Sed Do Eiusmod Tempor Incididunt ut Labore et Dolore
    .footer-column.footer-column-3
      .widget.posts-thumbnail-widget
        %h3.widget-title Ramdom Posts
        %ul
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => ""}/
            %a{:href => "#", :rel => "bookmark"} Vivamus Ac Dapibus Nisl Proin In Tellus Non Velit
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => ""}/
            %a{:href => "#", :rel => "bookmark"} Cras Augue Ante Tincidunt Consequat Ultricies
          %li
            %a{:href => "#", :rel => "bookmark"}
              %img.entry-thumbnail{:alt => "#", :src => ""}/
            %a{:href => "#", :rel => "bookmark"} Vestibulum Quam Neque Pretium Eu Consectetur
    .footer-column.footer-column-4
      .widget.subscribe-widget
        %h3.widget-title Newsletter
        %p Make sure you don't miss interesting happenings by joining our newsletter program. We don't do spam.
        %form{:role => "form"}
          %input{:placeHolder => "mail@example.com", :type => "text"}
            %button.btn{:type => "button"} Subscribe
  / .container
  / Site Bottom / Start
  #site-bottom.clearfix
    .footer-social-icons
      %a{:href => "#", :title => "Facebook"}
        %i.fa.fa-facebook
      %a{:href => "#", :title => "Twitter"}
        %i.fa.fa-twitter
      %a{:href => "#", :title => "GooglePlus"}
        %i.fa.fa-google-plus
      %a{:href => "#", :title => "Pinterest"}
        %i.fa.fa-pinterest
      %a{:href => "#", :title => "LinkedIn"}
        %i.fa.fa-linkedin
      %a{:href => "#", :title => "RSS"}
        %i.fa.fa-rss
      %a{:href => "#", :title => "Newsletter"}
        %i.fa.fa-envelope-o
    %nav#footer-nav.clearfix
      %ul
        %li
          %a{:href => "index.html"} Home
        %li
          %a{:href => "single_page.html"} Menu 1
        %li
          %a{:href => "single_page.html"} Menu 2
        %li
          %a{:href => "single_page.html"} Menu 3
        %li
          %a{:href => "single_page.html"} Menu 4
        %li
          %a{:href => "single_page.html"} Menu 5
    .copyright
      %p
        \&copy; 2014
        %a{:href => "index.html"} theWorld
      %p
        Powered by
        %a{:href => "#"} HTML5 & CSS3
        \&middot; Designed by
        %a{:href => "http://www.theme-junkie.com/"} Theme Junkie
  / Site Bottom / End
/ Footer / End
/ Site Main / End
/ Page / End